@keyframes slideUp {
  from {
    transform: translateY(1rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes roll-intro {
  0% {
    transform: rotateX(0deg);
  }

  25% {
    margin-top: 4.525rem;
    margin-bottom: 10.275rem;
    transform: rotateX(90deg);
  }

  50% {
    margin-top: 5.65rem;
    margin-bottom: 9.15rem;
    transform: rotateX(180deg);
  }

  75% {
    transform: rotateX(270deg);
  }

  100% {
    transform: rotateX(360deg);
  }
}