// HELVETICA
@font-face {
  font-family: "Helvetica Now Display Hairline";
  src: url("../../fonts/helvetica/HelveticaNowDisplay-Hairline.ttf");
}

@font-face {
  font-family: "Helvetica Now Display Thin";
  src: url("../../fonts/helvetica/HelveticaNowDisplay-Thin.ttf");
}

@font-face {
  font-family: "Helvetica Now Display Extra Light";
  src: url("../../fonts/helvetica/HelveticaNowDisplay-ExtLt.ttf");
}

@font-face {
  font-family: "Helvetica Now Display Light";
  src: url("../../fonts/helvetica/HelveticaNowDisplay-Light.ttf");
}

@font-face {
  font-family: "Helvetica Now Display Regular";
  src: url("../../fonts/helvetica/HelveticaNowDisplay-Regular.ttf");
}

@font-face {
  font-family: "Helvetica Now Display Medium";
  src: url("../../fonts/helvetica/HelveticaNowDisplay-Medium.ttf");
}

@font-face {
  font-family: "Helvetica Now Display Bold";
  src: url("../../fonts/helvetica/HelveticaNowDisplay-Bold.ttf");
}

@font-face {
  font-family: "Helvetica Now Display Black";
  src: url("../../fonts/helvetica/HelveticaNowDisplay-Black.ttf");
}

@font-face {
  font-family: "Helvetica Now Display Extra Bold";
  src: url("../../fonts/helvetica/HelveticaNowDisplay-ExtraBold.ttf");
}