// FONT-FAMILY
$hel_100: "Helvetica Now Display Hairline";
$hel_200: "Helvetica Now Display Thin";
$hel_300: "Helvetica Now Display Extra Light";
$hel_400: "Helvetica Now Display Light";
$hel_500: "Helvetica Now Display Regular";
$hel_600: "Helvetica Now Display Medium";
$hel_700: "Helvetica Now Display Bold";
$hel_800: "Helvetica Now Display Black";
$hel_900: "Helvetica Now Display Extra Bold";



// COLOR
$bgColor: #e0e0e0;
$textColor: #232323;

$dangerColor: #c92200;

$darkColor: #000;
$darkColor1: #333;

$lightColor: #838383;
$lightColor1: #FFE5E5;
$lightColor2: #E0E0E0;
$lightColor3: #D3D3D3;
$lightColor4: rgba(35,35,35,.69);
$lightColor5: rgba(51,51,51,.34);

$whiteColor: #FFFFFF;